<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.general.api.mapper.AgentHostClientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="tv.game88.general.api.entity.AgentHostClient">
        <id column="id" property="id" />
        <result column="dev" property="dev" />
        <result column="version" property="version" />
        <result column="version_name" property="versionName" />
        <result column="latest_fore" property="latestFore" />
        <result column="url" property="url" />
        <result column="update_text" property="updateText" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dev, version,version_name,latest_fore, url, update_text, create_by, create_time, update_by, update_time
    </sql>


    <select id="findLatestHostClient" resultType="tv.game88.general.api.dto.RspHostClient">
        select version, version_name, latest_fore, url, update_text
        from agent_host_client
        where dev = #{dev}
        ORDER BY version desc
        limit 1
    </select>

</mapper>
