<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.general.api.mapper.AgentHostMapper">

    <resultMap type="tv.game88.general.api.entity.AgentHost" id="AgentHostResult">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="apiUrl" column="api_url" />
        <result property="status" column="status" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="code" column="code" />
    </resultMap>

    <sql id="selectAgentHostVo">
        select id,
               name,
               code,
               api_url,
               status,
               create_by,
               create_time,
               update_by,
               update_time
        from agent_host
    </sql>

    <select id="selectAgentHostList" parameterType="tv.game88.general.api.entity.AgentHost" resultMap="AgentHostResult">
        <include refid="selectAgentHostVo" />
        <where>
            <if test="name != null  and name != ''">and name like concat(#{name}, '%')</if>
            <if test="apiUrl != null  and apiUrl != ''">and api_url like concat(#{apiUrl}, '%')</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="code != null ">and `code` = #{code}</if>
        </where>
    </select>

    <select id="getAgentList" resultType="java.util.Map">
        SELECT id dictValue FROM agent_host
    </select>

    <select id="findAgentHost" resultType="tv.game88.general.api.dto.RspAgent">
        select name, api_url
        from agent_host
        where code = #{code}
        limit 1
    </select>

</mapper>
