<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.general.api.mapper.AgentHostClientMapper">

    <resultMap type="tv.game88.general.api.entity.AgentHostClient" id="AgentHostClientResult">
        <result property="id" column="id" />
        <result property="dev" column="dev" />
        <result property="version" column="version" />
        <result property="url" column="url" />
        <result property="updateText" column="update_text" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectAgentHostClientVo">
        select id,
               dev,
               version,
               url,
               update_text,
               create_by,
               create_time,
               update_by,
               update_time,
               download_link1,
               download_link12,
               download_link3
        from agent_host_client
    </sql>

    <select id="selectAgentHostClientList" parameterType="tv.game88.general.api.entity.AgentHostClient" resultMap="AgentHostClientResult">
        <include refid="selectAgentHostClientVo" />
        <where>
            <if test="dev != null  and dev != ''">and dev = #{dev}</if>
            <if test="version != null  and version != ''">and version = #{version}</if>
            <if test="url != null  and url != ''">and url = #{url}</if>
            <if test="updateText != null  and updateText != ''">and update_text = #{updateText}</if>
        </where>
    </select>


    <select id="findLatestHostClient" resultType="tv.game88.general.api.dto.RspHostClient">
        select version, version_name, latest_fore, url, update_text, download_url1,download_url2, download_url3
        from agent_host_client
        where dev = #{dev}
        ORDER BY version desc
        limit 1
    </select>

</mapper>
