<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.general.api.mapper.GameDataRecordMapper">
    <resultMap type="tv.game88.general.api.entity.GameDataRecord" id="GameDataRecordResult">
        <result column="id" property="id" />
        <result column="agent" property="agent" />
        <result column="game_agent" property="gameAgent" />
        <result column="platform_id" property="platformId" />
        <result column="game_id" property="gameId" />
        <result column="game_round" property="gameRound" />
        <result column="account" property="account" />
        <result column="kind_id" property="kindId" />
        <result column="table_id" property="tableId" />
        <result column="chair_id" property="chairId" />
        <result column="all_bet" property="allBet" />
        <result column="cell_score" property="cellScore" />
        <result column="profit" property="profit" />
        <result column="revenue" property="revenue" />
        <result column="game_start_time" property="gameStartTime" />
        <result column="game_end_time" property="gameEndTime" />
        <result column="game_end_time" property="gameEndTime" />
        <result column="detail" property="detail" />
    </resultMap>

    <sql id="selectGameDataRecordVo">
        select id,
               agent,
               game_agent,
               platform_id,
               game_id,
               game_round,
               account,
               kind_id,
               table_id,
               chair_id,
               all_bet,
               cell_score,
               profit,
               revenue,
               game_start_time,
               game_end_time,
               detail
        from ${tableName}
    </sql>

    <select id="selectGameDataRecordList" parameterType="tv.game88.general.api.entity.GameDataRecord"
            resultMap="GameDataRecordResult">
        <include refid="selectGameDataRecordVo" />
        where game_end_time <![CDATA[ >= ]]> #{req.gameStartTime} and game_end_time <![CDATA[ <= ]]> #{req.gameEndTime}
        <if test="req.account != null and req.account != ''">and account = #{req.account}</if>
        <if test="req.agent != null and req.agent != ''">and agent = #{req.agent}</if>
        <if test="req.platformIds != null">
            and platform_id in
            <foreach collection="req.platformIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <update id="createGameDateRecordTable">
        create table if not EXISTS ${tableName} like game_data_record
    </update>

    <insert id="insertByTableName">
        insert ignore into ${tableName}
        (id, agent, game_agent, platform_id,
         game_id, game_round, account, kind_id,
         table_id, chair_id, all_bet, cell_score,
         profit, revenue, game_start_time, game_end_time, detail)
        values (#{data.id}, #{data.agent}, #{data.gameAgent},
                #{data.platformId}, #{data.gameId}, #{data.gameRound},
                #{data.account}, #{data.kindId}, #{data.tableId},
                #{data.chairId}, #{data.allBet}, #{data.cellScore},
                #{data.profit}, #{data.revenue}, #{data.gameStartTime},
                #{data.gameEndTime}, #{data.detail})
    </insert>

    <select id="findCount" resultType="java.lang.Long">
        select count(1) from ${tableName} where id = #{id}
    </select>
</mapper>