<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.pay.api.mapper.MemberWithdrawDetailMapper">
    <resultMap type="tv.game88.pay.api.entity.MemberWithdrawDetail" id="MemberWithdrawDetailResult">
        <result property="withdrawOrderNo" column="withdraw_order_no" />
        <result property="withdrawId" column="withdraw_id" />
        <result property="withdrawMoney" column="withdraw_money" />
        <result property="bankId" column="bank_id" />
        <result property="bankAccount" column="bank_account" />
        <result property="bankAddress" column="bank_address" />
        <result property="bankUserName" column="bank_user_name" />
        <result property="status" column="status" />
        <result property="first" column="first" />
        <result property="opName" column="op_name" />
        <result property="remark" column="remark" />
        <result property="rechargeWithdrawRate" column="recharge_withdraw_rate" />
        <result property="bankRechargeNum" column="bank_recharge_num" />
        <result property="realBankAddress" column="real_bank_address" />
        <result property="rechargeUserName" column="recharge_user_name" />
        <result property="rechargeBcodeRate" column="recharge_bcode_rate" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectMemberWithdrawDetailVo">
        select withdraw_order_no,
               withdraw_id,
               withdraw_money,
               bank_id,
               bank_account,
               bank_address,
               bank_user_name,
               status,
               `first`,
               op_name,
               remark,
               recharge_withdraw_rate,
               bank_recharge_num,
               real_bank_address,
               recharge_user_name,
               recharge_bcode_rate,
               create_time,
               update_time
        from member_withdraw_detail
    </sql>

    <select id="selectMemberWithdrawDetailList" parameterType="tv.game88.pay.api.dto.ReqMemberWithdrawDetail"
            resultMap="MemberWithdrawDetailResult">
        <include refid="selectMemberWithdrawDetailVo" />
        <where>
            <include refid="selectMember">
            </include>
            <if test="searchValue != null and searchValue != ''">
                and withdraw_order_no = #{searchValue}
            </if>
            <if test="downLoadDate[ 0 ] != null">
                and create_time <![CDATA[ >= ]]> '${downLoadDate[0]}'
            </if>
            <if test="downLoadDate[ 1 ] != null">
                and create_time <![CDATA[ <= ]]> '${downLoadDate[1]}'
            </if>
        </where>
        <if test="searchValue != null and searchValue != ''">
            UNION
            <include refid="selectMemberWithdrawDetailVo" />
            <where>
                <include refid="selectMember">
                </include>
                <if test="searchValue != null and searchValue != ''">
                    and withdraw_id = #{searchValue}
                </if>
            </where>
            UNION
            <include refid="selectMemberWithdrawDetailVo" />
            <where>
                <include refid="selectMember">
                </include>
                <if test="searchValue != null and searchValue != ''">
                    and bank_user_name = #{searchValue}
                </if>
            </where>
        </if>
    </select>

    <sql id="selectMember">
        <if test="status != null and status == -1">
                withdraw_id not in (select withdraw_id
                                    from member_withdraw_detail
                                    WHERE `status` in (3, 6)
                                    GROUP BY withdraw_id
                                    HAVING count(1) > 1)
        </if>
        <if test="status != null and status != '' and status != -1">
            and `status` = #{status}
        </if>
        <if test="status == 0">
            and status = #{status}
        </if>
        <if test="priceMin != null and priceMax != null  and priceMin != ''  and priceMax != ''">
            and withdraw_money <![CDATA[ >= ]]> #{priceMin}
                and withdraw_money <![CDATA[ <= ]]> #{priceMax}
        </if>
        <if test="opName != null and opName != ''">
            and op_name = #{opName}
        </if>
        <if test="selectStartDate != null and selectEndDate != ''">
            and create_time between #{selectStartDate} and #{selectEndDate}
        </if>
        <if test="remark != null and remark != ''">
            and remark like concat('%', #{remark}, '%')
        </if>
    </sql>

    <select id="countOpNameOrder" resultMap="MemberWithdrawDetailResult">
        SELECT count(withdraw_order_no) as times,
               sum(withdraw_money)      AS money,
               op_name,
               `status`
        FROM member_withdraw_detail
        <where>
            <if test="opName != null and opName != ''">
                and op_name = #{opName}
            </if>
            <if test="searchTime[ 0 ] != null and searchTime[ 0 ] != ''">
                and update_time <![CDATA[ >= ]]> '${searchTime[0]}'
            </if>
            <if test="searchTime[ 1 ] != null and searchTime[ 1 ] != ''">
                and update_time <![CDATA[ <= ]]> '${searchTime[1]}'
            </if>
        </where>
        GROUP BY `status`, op_name
    </select>

    <select id="selectMemberWithdrawDetailShunWeiList"
            resultType="tv.game88.pay.api.dto.RspMemberWithdrawDetailShunWei">
        select w.withdraw_order_no orderNo,
               w.bank_user_name    bankUserName,
               w.bank_account      bankAccount,
               w.withdraw_money    withdrawMoney,
               l.bank_name         bankName
        FROM member_withdraw_detail w
                 left join config_bank_list l on l.id = w.bank_id
        where w.`status` <![CDATA[ <= ]]> 1
          and w.withdraw_order_no in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getTotal" resultType="java.util.Map">
        select b.total, b.successTotal, b.total / a.numberTotal successRate from (<include refid="getTotalSql">
    </include>)a
                  left join (<include refid="getSuccessTotalSql">
    </include>)b on 1 = 1
    </select>

    <sql id="getTotalSql">
        select count(*) numberTotal
        from member_withdraw_detail
        <where>
            <include refid="whereTotal">
            </include>
        </where>
    </sql>
    <sql id="getSuccessTotalSql">
        select count(*) total, sum(withdraw_money) successTotal
        from member_withdraw_detail
        <where>
            <include refid="whereTotal">
            </include>
            and (status = 3 or status = 6)
        </where>
    </sql>
    <sql id="whereTotal">
        <if test="status != null and status == -1">
                withdraw_id not in (select withdraw_id
                                    from member_withdraw_detail
                                    WHERE `status` in (3, 6)
                                    GROUP BY withdraw_id
                                    HAVING count(1) > 1)
        </if>
        <if test="status != null and status != '' and status != -1">
            and `status` = #{status}
        </if>
        <if test="searchValue != null and searchValue != ''">
            and (withdraw_order_no = #{searchValue} or withdraw_id = #{searchValue} or bank_user_name = #{searchValue})
        </if>
        <if test="priceMin != null and priceMax != null  and priceMin != ''  and priceMax != ''">
            and withdraw_money <![CDATA[ >= ]]> #{priceMin}
                and withdraw_money <![CDATA[ <= ]]> #{priceMax}
        </if>
        <if test="selectStartDate != null and selectEndDate != ''">
            and create_time between #{selectStartDate} and #{selectEndDate}
        </if>
        <if test="remark != null and remark != ''">
            and remark like concat('%', #{remark}, '%')
        </if>
    </sql>

    <select id="selectMemberInfoWithdrawByIda" parameterType="java.lang.String" resultType="tv.game88.pay.api.dto.RspMemberInfoWithdraw">
        SELECT id,phone,login_time loginTime,vip,register_time regTime,account_now accountNow,code_total codeTotal,code_now codeNow,login_ip loginIp,register_type registerType,remark
        from member_info where id = #{userid}
    </select>

    <select id="selectMemberInfoWithdrawByIdb" parameterType="java.lang.String" resultType="tv.game88.pay.api.dto.RspMemberInfoWithdraw">
        SELECT IFNULL(SUM(recharge_money),0) rechargemoney from member_recharge_bank where status = '3' and member_id = #{userid}
    </select>

    <select id="selectMemberInfoWithdrawByIdc" parameterType="java.lang.String" resultType="tv.game88.pay.api.dto.RspMemberInfoWithdraw">
        SELECT IFNULL(SUM(real_money),0) submoney from member_recharge_online where status='1' and member_id = #{userid} and pay_time <![CDATA[ >= ]]> DATE_SUB(NOW(),INTERVAL 30 DAY)
    </select>

    <select id="selectMemberInfoWithdrawByIde" parameterType="java.lang.String" resultType="tv.game88.pay.api.dto.RspMemberInfoWithdraw">
        SELECT IFNULL(SUM(income),0) rgIncome FROM log_money${tableLast} where type = '110' and user_id = #{userId}
    </select>

    <select id="selectMemberInfoWithdrawByIdf" parameterType="java.lang.String" resultType="tv.game88.pay.api.dto.RspMemberInfoWithdraw">
        SELECT IFNULL(SUM(income),0) zsIncome FROM log_money${tableLast} where type in ('102','104','106','108') and user_id = #{userId}
    </select>

    <!--充值总的金额-->
    <select id="selectMemberInfoWithdrawByIdg" parameterType="java.lang.String" resultType="tv.game88.pay.api.dto.RspMemberInfoWithdraw">
        (SELECT sum(n) totalincom from (
        SELECT IFNULL(SUM(recharge_money),0) n from member_recharge_bank where status = '3' and member_id = #{userid}
        UNION ALL
        SELECT IFNULL(SUM(real_money),0) n from member_recharge_online where status='1' and member_id = #{userid}
        UNION ALL
        select IFNULL(SUM(recharge_money),0) n from member_recharge_usdt where status = '3' and member_id = #{userid}
        ) as t)
    </select>

    <select id="selectMemberInfoWithdrawByIdh" parameterType="java.lang.String" resultType="tv.game88.pay.api.dto.RspMemberInfoWithdraw">
        select COUNT(1) wCount from member_withdraw_detail where status in ('3','6') and withdraw_id = #{userid}
    </select>

    <select id="selectMemberInfoWithdrawByIdi" parameterType="java.lang.String" resultType="tv.game88.pay.api.dto.RspMemberInfoWithdraw">
        select IFNULL(SUM(withdraw_money),0) wSum from member_withdraw_detail where STATUS in ('0','1','3','4','6') and withdraw_id = #{userid}
    </select>

    <select id="selectMemberInfoWithdrawByIdj" parameterType="java.lang.String" resultType="tv.game88.pay.api.dto.RspMemberInfoWithdraw">
        (select count(1) gcount FROM member_game_data${tableLast} WHERE agent in ('10000','80000')
        and (cell_score - profit)/cell_score > 1
        and 1.04 > (cell_score - profit)/cell_score
        and account = #{userid})
    </select>

    <select id="selectMemberInfoWithdrawByIdk" parameterType="java.lang.String" resultType="tv.game88.pay.api.dto.RspMemberInfoWithdraw">
        select count(1) gtcount FROM member_game_data${tableLast} WHERE agent in ('10000','80000') and account = #{userid}
    </select>

    <select id="selectMemberInfoWithdrawByIdl" parameterType="java.lang.String" resultType="tv.game88.pay.api.dto.RspMemberInfoWithdraw">
        select p.name as class_twoname,convert(sum(g.cell_score),decimal(10,2)) touZhu,convert(sum(g.profit),decimal(10,2)) yingLi
        FROM member_game_data${tableLast} g
        LEFT JOIN game_platform p on g.platform_id = p.id
        WHERE account = #{userid} GROUP BY g.platform_id
    </select>

    <select id="selectMemberInfoWithdrawByIdz" parameterType="java.lang.String" resultType="tv.game88.pay.api.dto.RspMemberInfoWithdraw">
        SELECT IFNULL(SUM(recharge_money),0) usdtrechargemoney from member_recharge_usdt where status = '3' and member_id = #{userid}
    </select>

    <select id="totalWithdrawMoney" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(withdraw_money),0) FROM member_withdraw_detail where withdraw_id = #{memberId} and status in (3,6)
    </select>

    <select id="selectRspDetail" resultType="tv.game88.pay.api.dto.RspWithdrawRechargeDetail">
        select
        w.withdraw_money money,
        w.withdraw_order_no orderNo,
        w.create_time requestTime,
        l.bank_name bankName,
        w.`status`,
        w.remark
        from member_withdraw_detail w
        left join config_bank_list l on l.id = w.bank_id
        where w.withdraw_id = #{memberId}
        and w.create_time >= DATE_SUB(NOW(),INTERVAL 30 DAY)
        order by w.create_time desc
    </select>

    <select id="withdrawReportList" resultType="tv.game88.pay.api.dto.RspWithdrawReport">
        select class_twoname, t_value
        from report_analysisuser
        ORDER BY rep_id asc
    </select>
</mapper>