<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.pay.api.mapper.MemberRechargeBankMapper">
    <resultMap type="tv.game88.pay.api.entity.MemberRechargeBank" id="MemberRechargeBankResult">
        <result property="rechargeOrderNo" column="recharge_order_no" />
        <result property="memberId" column="member_id" />
        <result property="rechargeMoney" column="recharge_money" />
        <result property="status" column="status" />
        <result property="realName" column="real_name" />
        <result property="rechargeRealName" column="recharge_real_name" />
        <result property="bankUserName" column="bank_user_name" />
        <result property="bankId" column="bank_id" />
        <result property="bankAccount" column="bank_account" />
        <result property="bankAddress" column="bank_address" />
        <result property="opName" column="op_name" />
        <result property="remark" column="remark" />
        <result property="first" column="first" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="ip" column="ip" />
        <result property="discountBill" column="discount_bill" />
    </resultMap>

    <sql id="selectMemberRechargeBankVo">
        select recharge_order_no,member_id,recharge_money,status,real_name,
               recharge_real_name,bank_user_name,bank_id,bank_account,
               bank_address,op_name,remark, `first`, create_time, update_time, ip, discount_bill
        from member_recharge_bank
    </sql>

    <select id="selectMemberRechargeBankList" parameterType="tv.game88.pay.api.entity.MemberRechargeBank"
            resultMap="MemberRechargeBankResult">
        <include refid="selectMemberRechargeBankVo" />
        <include refid="listWhere"/>
    </select>

    <sql id="listWhere">
        where 1 = 1
        <if test="req.bankUserName != null  and req.bankUserName != ''">
            and bank_user_name = #{req.bankUserName}
        </if>
        <if test="req.opName != null  and req.opName != ''">
            and op_name = #{req.opName}
        </if>
        <if test="req.rechargeUserName != null  and req.rechargeUserName != ''">
            and recharge_real_name = #{req.rechargeUserName}
        </if>
        <if test="req.bankName != null  and req.bankName != ''">
            and bank_name = #{req.bankName}
        </if>
        <if test="req.id != null  and req.id != ''">
            and recharge_order_no = #{req.id}
        </if>
        <if test="req.status != null">
            and status = #{req.status}
        </if>
        <if test="req.priceMin != null and req.priceMax != null  and req.priceMin != ''  and req.priceMax != ''">
            and recharge_money <![CDATA[ >= ]]> #{req.priceMin}
            and recharge_money <![CDATA[ <= ]]> #{req.priceMax}
        </if>
        <if test="req.searchValue != null and req.searchValue != ''">
            and member_id = #{req.searchValue}
        </if>
        <if test="req.selectStartDate != null and req.selectStartDate != ''">
            and update_time <![CDATA[ >= ]]> #{req.selectStartDate} and update_time <![CDATA[ <= ]]> #{req.selectEndDate}
        </if>
        <if test="req.downLoadDate[0] != null "> and update_time <![CDATA[ >= ]]> '${req.downLoadDate[0]}'</if>
        <if test="req.downLoadDate[1] != null "> and update_time <![CDATA[ <= ]]> '${req.downLoadDate[1]}'</if>
    </sql>

    <select id="selectReportList" resultType="tv.game88.pay.api.dto.RspRechargeBankReport">
        SELECT w.bank_user_name as bankUserName,
            l.bank_name as bankName,
            w.bank_account as bankAccount,
            w.recharge_money as rechargeMoney,
            COUNT(1) as time,
            w.update_time as updateTime
        FROM member_recharge_bank w
        left join config_bank_list l on l.id = w.bank_id
        WHERE w.`STATUS` = '3'
        <if test="req.priceMin != null and req.priceMax != null  and req.priceMin != '' and req.priceMax != ''">
            and w.recharge_money <![CDATA[ >= ]]> #{req.priceMin}
            and w.recharge_money <![CDATA[ <= ]]> #{req.priceMax}
        </if>
        <if test="req.bankUserName != null and req.bankUserName != ''">
            and w.bank_user_name = #{req.bankUserName}
        </if>
        <if test="req.updateTime != null and req.updateTime != ''">
            and w.update_time like '${req.updateTime}%'
        </if>
        GROUP BY w.bank_user_name,l.bank_name,w.recharge_money,w.bank_account
        ORDER BY w.bank_user_name,w.recharge_money
    </select>

    <select id="selectReportListCount" resultType="java.util.Map">
        SELECT *,
        sum(recharge_money) as rechargeMoney,
        count(*) as totalcount
        FROM member_recharge_bank
        WHERE  STATUS = '3'
        <if test="req.priceMin != null and req.priceMax != null  and req.priceMin != ''  and req.priceMax != ''">
            and recharge_money <![CDATA[ >= ]]> #{req.priceMin}
            and recharge_money <![CDATA[ <= ]]> #{req.priceMax}
        </if>
        <if test="req.bankUserName != null and req.bankUserName != ''">
            and bank_user_name = #{req.bankUserName}
        </if>
        <if test="req.updateTime != null and req.updateTime != ''">
            and update_time like '${req.updateTime}%'
        </if>
    </select>

    <select id="countRechargeDaySucess" resultType="int">
        select COUNT(1) from member_recharge_bank where  date(update_time) = curdate() and  member_id = #{memberId} and status = 3;
    </select>

    <select id="totalRechargeAll" resultType="java.math.BigDecimal">
        select sum(a.money) from(
            select IFNULL(SUM(recharge_money),0) money from member_recharge_bank where `status` = 3 and member_id = #{memberId}
            union all
            select IFNULL(SUM(money),0) money from member_recharge_online  where `status` = 1 and member_id = #{memberId}
            union all
            select IFNULL(SUM(recharge_money),0) money from member_recharge_usdt where `status` = 3 and member_id = #{memberId}
        ) a
    </select>

    <select id="selectRspDetail" resultType="tv.game88.pay.api.dto.RspWithdrawRechargeDetail">
        select
        w.recharge_money money,
        w.recharge_order_no orderNo,
        w.create_time requestTime,
        l.bank_name bankName,
        w.`status`,
        w.remark
        from member_recharge_bank w
        left join config_bank_list l on l.id = w.bank_id
        where w.member_id = #{memberId}
        and w.create_time >= DATE_SUB(NOW(),INTERVAL 15 DAY)
        order by w.create_time desc
    </select>
</mapper>