<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.pay.api.mapper.MemberRechargeUsdtMapper">
    <resultMap type="tv.game88.pay.api.entity.MemberRechargeUsdt" id="MemberRechargeUsdtResult">
        <result property="rechargeOrderNo" column="recharge_order_no" />
        <result property="memberId" column="member_id" />
        <result property="transactionId" column="transaction_id" />
        <result property="rechargeMoney" column="recharge_money" />
        <result property="channelName" column="channel_name" />
        <result property="chainName" column="chain_name" />
        <result property="rechargeAddress" column="recharge_address" />
        <result property="rechargeNumber" column="recharge_number" />
        <result property="rechargeRate" column="recharge_rate" />
        <result property="status" column="status" />
        <result property="discountBill" column="discount_bill" />
        <result property="opName" column="op_name" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectMemberRechargeUsdtVo">
        select recharge_order_no,member_id,transaction_id,recharge_money,channel_name,
               chain_name,recharge_address,recharge_number,recharge_rate,status,
               discount_bill,op_name,create_time,update_time,remark
        from member_recharge_usdt
    </sql>

    <select id="selectMemberRechargeUsdtList" parameterType="tv.game88.pay.api.entity.MemberRechargeUsdt"
            resultMap="MemberRechargeUsdtResult">
        <include refid="selectMemberRechargeUsdtVo" />
        <where>
            <if test="memberId != null  and memberId != ''">
                and member_id = #{memberId}
            </if>
            <if test="transactionId != null  and transactionId != ''">
                and transaction_id = #{transactionId}
            </if>
            <if test="rechargeMoney != null">
                and recharge_money = #{rechargeMoney}
            </if>
            <if test="channelName != null  and channelName != ''">
                and channel_name like concat('%', #{channelName}, '%')
            </if>
            <if test="chainName != null  and chainName != ''">
                and chain_name like concat('%', #{chainName}, '%')
            </if>
            <if test="rechargeAddress != null  and rechargeAddress != ''">
                and recharge_address = #{rechargeAddress}
            </if>
            <if test="rechargeNumber != null">
                and recharge_number = #{rechargeNumber}
            </if>
            <if test="rechargeRate != null">
                and recharge_rate = #{rechargeRate}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="discountBill != null">
                and discount_bill = #{discountBill}
            </if>
            <if test="opName != null  and opName != ''">
                and op_name like concat('%', #{opName}, '%')
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="remark != null  and remark != ''">
                and remark = #{remark}
            </if>
        </where>
    </select>
</mapper>