<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.pay.api.mapper.PayRechargeBankMapper">
    <resultMap type="tv.game88.pay.api.entity.PayRechargeBank" id="PayRechargeBankResult">
        <result property="id" column="id" />
        <result property="bankId" column="bank_id" />
        <result property="bankAccount" column="bank_account" />
        <result property="accountName" column="account_name" />
        <result property="bankAddress" column="bank_address" />
        <result property="discountBill" column="discount_bill" />
        <result property="openLevelMin" column="open_level_min" />
        <result property="openLevelMax" column="open_level_max" />
        <result property="rechargeLimitMin" column="recharge_limit_min" />
        <result property="rechargeLimitMax" column="recharge_limit_max" />
        <result property="effect" column="effect" />
        <result property="restProvince" column="rest_province" />
        <result property="remark" column="remark" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="bankName" column="bank_name" />
        <result property="bankIcon" column="bank_icon" />
        <result property="sort" column="sort" />
        <result property="text2" column="text2" />
    </resultMap>

    <sql id="selectPayRechargeBankVo">
        select b.id,b.bank_id,b.bank_account,b.account_name,b.bank_address,
               b.discount_bill,b.open_level_min,b.open_level_max,
               b.recharge_limit_min,b.recharge_limit_max,b.effect,rest_province,
               b.remark,b.create_by,b.create_time,b.update_by,b.update_time,
               l.bank_icon,l.bank_name,b.sort
        from pay_recharge_bank b left join config_bank_list l on l.id = b.bank_id
    </sql>

    <select id="selectPayRechargeBankList" parameterType="tv.game88.pay.api.entity.PayRechargeBank" resultMap="PayRechargeBankResult">
        <include refid="selectPayRechargeBankVo" />
        <where>
            <if test="bankId != null">
                and bank_id = #{bankId}
            </if>
            <if test="accountName != null  and accountName != ''">
                and account_name like concat('%', #{accountName}, '%')
            </if>
            <if test="effect != null">
                and b.effect = #{effect}
            </if>
        </where>
       order by b.sort asc
    </select>

    <select id="selectRspList" resultType="tv.game88.pay.api.dto.RspPayRechargeBank">
        select b.id,b.bank_account,b.account_name,b.bank_address,b.discount_bill,
        b.recharge_limit_min,b.recharge_limit_max,b.rest_province,remark,l.bank_icon,l.bank_name
        from pay_recharge_bank b left join config_bank_list l on l.id = b.bank_id
        where b.effect = 1
        and b.open_level_min <![CDATA[ <= ]]> #{vipLevel}
        and b.open_level_max <![CDATA[ >= ]]> #{vipLevel}
    </select>
</mapper>