<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.lottery.api.mapper.LotteryBetMapper">
    <resultMap type="tv.game88.lottery.api.entity.LotteryBet" id="LotteryBetResult">
        <result property="id" column="id" />
        <result property="memberId" column="member_id" />
        <result property="memberStatus" column="member_status" />
        <result property="lotteryId" column="lottery_id" />
        <result property="lotteryName" column="lottery_name" />
        <result property="issue" column="issue" />
        <result property="status" column="status" />
        <result property="methodId" column="method_id" />
        <result property="betSelect" column="bet_select" />
        <result property="betIds" column="bet_ids" />
        <result property="chip" column="chip" />
        <result property="prize" column="prize" />
        <result property="cost" column="cost" />
        <result property="code" column="code" />
        <result property="betTime" column="bet_time" />
        <result property="updateTime" column="update_time" />
        <result property="anchor" column="anchor" />
    </resultMap>

    <sql id="selectLotteryBetVo">
        select id,
               member_id,
               member_status,
               lottery_id,
               lottery_name,
               issue,
               status,
               method_id,
               bet_select,
               bet_ids,
               chip,
               prize,
               cost,
               code,
               bet_time,
               update_time,
               anchor
        from lottery_bet
    </sql>

    <select id="selectLotteryBetList" parameterType="tv.game88.lottery.api.entity.LotteryBet"
            resultMap="LotteryBetResult">
        <include refid="selectLotteryBetVo" />
        <where>
            <if test="memberId != null  and memberId != ''">
                and member_id = #{memberId}
            </if>
            <if test="lotteryId != null">
                and lottery_id = #{lotteryId}
            </if>
            <if test="issue != null  and issue != ''">
                and issue = #{issue}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="betTime != null">
                and bet_time = #{betTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="anchor != null">
                and anchor = #{anchor}
            </if>
        </where>
    </select>

    <select id="getBetRecordList" resultType="tv.game88.lottery.api.dto.RspBetRecord">
        select *
        from lottery_bet${dbNodes}
        where member_id = #{memberId}
          and lottery_id = #{lotteryId}
        order by issue desc
    </select>

    <insert id="insertLotteryBet">
        insert into lottery_bet${dbNodes}
        (id, lottery_id, member_id, member_status, issue, status, method_id, bet_select, bet_ids, chip, cost,
         lottery_name, anchor, bet_time)
        values (#{req.id}, #{req.lotteryId}, #{req.memberId}, #{req.memberStatus}, #{req.issue}, #{req.status},
                #{req.methodId}, #{req.betSelect}, #{req.betIds}, #{req.chip}, #{req.cost}, #{req.lotteryName},
                #{req.anchor}, #{req.betTime})
    </insert>

    <select id="selectLotteryWaiteList" resultMap="LotteryBetResult">
        select id,member_id ,anchor, chip, cost, method_id, bet_select from lottery_bet0
        where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select id,member_id ,anchor, chip, cost, method_id, bet_select from lottery_bet1
        where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select id,member_id ,anchor, chip, cost, method_id, bet_select from lottery_bet2
        where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select id,member_id ,anchor, chip, cost, method_id, bet_select from lottery_bet3
        where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select id,member_id ,anchor, chip, cost, method_id, bet_select from lottery_bet4
        where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select id,member_id ,anchor, chip, cost, method_id, bet_select from lottery_bet5
        where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select id,member_id ,anchor, chip, cost, method_id, bet_select from lottery_bet6
        where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select id,member_id ,anchor, chip, cost, method_id, bet_select from lottery_bet7
        where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select id,member_id ,anchor, chip, cost, method_id, bet_select from lottery_bet8
        where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select id,member_id ,anchor, chip, cost, method_id, bet_select from lottery_bet9
        where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
    </select>

    <select id="selectLotteryWaiteCount" resultType="java.lang.Integer">
        select sum(c) from (
        select count(*) c from lottery_bet0  where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select count(*) c from lottery_bet1  where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select count(*) c from lottery_bet2  where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select count(*) c from lottery_bet3  where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select count(*) c from lottery_bet4  where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select count(*) c from lottery_bet5  where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select count(*) c from lottery_bet6  where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select count(*) c from lottery_bet7  where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select count(*) c from lottery_bet8  where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        UNION ALL
        select count(*) c from lottery_bet9  where status = 0 and issue =  #{issue} and lottery_id = #{lotteryId}
        ) a
    </select>

    <update id="updateStatusPrize">
        update lottery_bet${dbNodes}
        set status      = #{status}
        , code        = #{code}
        , prize       = #{prize}
        , update_time = #{updateTime}
        where id = #{id}
    </update>
</mapper>