<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.lottery.api.mapper.LotteryCountMapper">
    <resultMap type="tv.game88.lottery.api.entity.LotteryCount" id="LotteryCountResult">
        <result property="id" column="id" />
        <result property="agent" column="agent" />
        <result property="lotteryId" column="lottery_id" />
        <result property="memberId" column="member_id" />
        <result property="issue" column="issue" />
        <result property="betInfo" column="bet_info" />
        <result property="chip" column="chip" />
        <result property="ip" column="ip" />
    </resultMap>

    <sql id="selectLotteryCountVo">
        select id,
               agent,
               lottery_id,
               member_id,
               issue,
               bet_info,
               chip,
               ip
        from lottery_count
    </sql>

    <select id="selectCountTotal" resultType="tv.game88.lottery.api.dto.BetCount">
        SELECT bet_info betinfo, SUM(chip) totalbet
        FROM lottery_count
        where lottery_id = #{lotteryId}
          and issue = #{issue}
          and member_id = #{memberId}
        GROUP BY bet_info
    </select>

    <select id="countBet" resultType="tv.game88.lottery.api.dto.BetCount">
        SELECT bet_info betinfo, sum(chip) totalbet, agent
        FROM lottery_count
        where issue = #{issue}
          and lottery_id = #{lotteryId}
        GROUP BY bet_info
    </select>

    <insert id="insertBatch">
        insert into lottery_count
            (agent, lottery_id, member_id, issue, bet_info, chip, ip) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.agent}, #{item.lotteryId}, #{item.memberId},
             #{item.issue}, #{item.betInfo}, #{item.chip}, #{item.ip})
        </foreach>
    </insert>

    <insert id="insertBatchCenter">
        insert into ${lotteryAgent}.lottery_count
        (agent, lottery_id, member_id, issue, bet_info, chip, ip) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.agent}, #{item.lotteryId}, #{item.memberId},
            #{item.issue}, #{item.betInfo}, #{item.chip}, #{item.ip})
        </foreach>
    </insert>
</mapper>