<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.lottery.api.mapper.LotteryRuleMapper">
    <resultMap type="tv.game88.lottery.api.entity.LotteryRule" id="LotteryRuleResult">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="kind" column="kind" />
        <result property="des" column="des" />
        <result property="sort" column="sort" />
    </resultMap>

    <sql id="selectLotteryRuleVo">
        select id, name, kind, des, sort
        from lottery_rule
    </sql>

    <select id="selectLotteryRuleList" parameterType="tv.game88.lottery.api.entity.LotteryRule"
            resultMap="LotteryRuleResult">
        <include refid="selectLotteryRuleVo" />
        <if test="id != null  and id != ''">
            where id = #{id}
        </if>
        <if test="name != null  and name != ''">
            where `name` like concat('%', #{name}, '%')
        </if>
        <if test="kind != null">
            where kind = #{kind}
        </if>
    </select>
</mapper>