<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.core.member.mapper.MemberCardMapper">
    <resultMap type="tv.game88.core.member.entity.MemberCard" id="MemberCardResult">
        <result property="id" column="id" />
        <result property="realName" column="real_name" />
        <result property="bankAccount" column="bank_account" />
        <result property="bankAddress" column="bank_address" />
        <result property="memberId" column="member_id" />
        <result property="createTime" column="create_time" />
        <result property="dv" column="dv" />
        <result property="bankId" column="bank_id" />
        <result property="realBankAddress" column="real_bank_address" />
    </resultMap>

    <sql id="selectMemberCardVo">
        select id,
               real_name,
               bank_name,
               bank_account,
               bank_address,
               member_id,
               create_time,
               dv,
               bank_id,
               real_bank_address
        from member_card
    </sql>

    <select id="selectMemberCardList" parameterType="tv.game88.core.member.entity.MemberCard"
            resultMap="MemberCardResult">
        <include refid="selectMemberCardVo" />
        <where>
            <if test="realName != null  and realName != ''">
                and real_name like concat('%', #{realName}, '%')
            </if>
            <if test="bankAccount != null  and bankAccount != ''">
                and bank_account = #{bankAccount}
            </if>
            <if test="bankAddress != null  and bankAddress != ''">
                and bank_address = #{bankAddress}
            </if>
            <if test="memberId != null  and memberId != ''">
                and member_id = #{memberId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="dv != null">
                and dv = #{dv}
            </if>
            <if test="bankId != null">
                and bank_id = #{bankId}
            </if>
            <if test="realBankAddress != null  and realBankAddress != ''">
                and real_bank_address = #{realBankAddress}
            </if>
        </where>
    </select>

    <select id="selectMemberCard" resultMap="MemberCardResult">
        <include refid="selectMemberCardVo" />
        where member_id = #{memberId}
    </select>

    <select id="selectRspList" resultType="tv.game88.core.member.dto.RspMemberCard">
        select c.id,
               c.real_name,
               c.bank_account,
               c.bank_address,
               c.dv,
               l.bank_icon,
               l.bank_name,
               l.bank_code
        from member_card c
                 left join config_bank_list l on l.id = c.bank_id
        where member_id = #{memberId}
        order by l.sort asc
    </select>

    <select id="selectRealNameByMemberIds" resultMap="MemberCardResult">
        select distinct member_id, real_name
        from member_card where member_id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findRealNameById" resultType="java.lang.String">
        select real_name
        from member_card
        where member_id = #{memberId}
          and real_name is not null
        limit 1
    </select>
</mapper>
