<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.game.api.mapper.ConfigGametypeMapper">
    <resultMap type="tv.game88.game.api.entity.ConfigGametype" id="ConfigGametypeResult">
        <result property="id" column="id" />
        <result property="platformId" column="platform_id" />
        <result property="platformName" column="platform_name" />
        <result property="sonPlatformId" column="son_platform_id" />
        <result property="sonPlatformName" column="son_platform_name" />
    </resultMap>

    <sql id="selectConfigGametypeVo">
        select id, platform_id, platform_name, son_platform_id, son_platform_name
        from config_gametype
    </sql>

    <select id="selectConfigGametypeList" parameterType="tv.game88.game.api.entity.ConfigGametype"
            resultMap="ConfigGametypeResult">
        <include refid="selectConfigGametypeVo" />
        <where>
            <if test="platformId != null  and platformId != ''">
                and platform_id = #{platformId}
            </if>
            <if test="platformName != null  and platformName != ''">
                and platform_name like concat('%', #{platformName}, '%')
            </if>
            <if test="sonPlatformId != null  and sonPlatformId != ''">
                and son_platform_id = #{sonPlatformId}
            </if>
            <if test="sonPlatformName != null  and sonPlatformName != ''">
                and son_platform_name like concat('%', #{sonPlatformName}, '%')
            </if>
        </where>
    </select>
</mapper>