<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.game.api.mapper.GameInfoMapper">
    <resultMap type="tv.game88.game.api.entity.GameInfo" id="GameInfoResult">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="typeId" column="type_id" />
        <result property="platformId" column="platform_id" />
        <result property="kindId" column="kind_id" />
        <result property="icon" column="icon" />
        <result property="maintain" column="maintain" />
        <result property="recommend" column="recommend" />
        <result property="largeIcon" column="large_icon" />
        <result property="effect" column="effect" />
        <result property="createTime" column="create_time" />
        <result property="sort" column="sort" />
    </resultMap>

    <sql id="selectGameInfoVo">
        select id,
               name,
               type_id,
               platform_id,
               kind_id,
               icon,
               maintain,
               recommend,
               large_icon,
               effect,
               create_time,
               sort
        from game_info
    </sql>

    <select id="selectGameInfoList" parameterType="tv.game88.game.api.entity.GameInfo" resultMap="GameInfoResult">
        <include refid="selectGameInfoVo" />
        <where>
            <if test="name != null  and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="typeId != null">
                and type_id = #{typeId}
            </if>
            <if test="platformId != null">
                and platform_id = #{platformId}
            </if>
            <if test="kindId != null  and kindId != ''">
                and kind_id = #{kindId}
            </if>
            <if test="maintain != null">
                and maintain = #{maintain}
            </if>
            <if test="recommend != null">
                and recommend = #{recommend}
            </if>
            <if test="largeIcon != null">
                and large_icon = #{largeIcon}
            </if>
            <if test="effect != null">
                and effect = #{effect}
            </if>
        </where>
        order by sort asc
    </select>

    <select id="selectRspList" resultType="tv.game88.game.api.dto.RspGameInfo">
        select i.id,
               i.name,
               i.icon,
               i.maintain,
               i.recommend,
               i.large_icon,
               p.game_category,
               p.maintain platform_maintain,
               i.kind_id,
               i.platform_id
        from game_info i
                 left join game_platform p on p.id = i.platform_id
        where i.effect = 1
          and p.effect = 1
          and i.type_id = #{typeId}
        order by i.sort asc
    </select>

    <select id="selectHotRspList" resultType="tv.game88.game.api.dto.RspGameInfo">
        select i.id,
        i.name,
        i.icon,
        i.maintain,
        i.recommend,
        i.large_icon,
        p.game_category,
        p.maintain platform_maintain,
        i.kind_id,
        i.platform_id
        from game_info i
        left join game_platform p on p.id = i.platform_id
        where i.effect = 1
        and p.effect = 1
        and i.recommend = 1
        and i.type_id = #{typeId}
        order by i.sort asc
    </select>

    <select id="selectRspListByRecommend" resultType="tv.game88.game.api.dto.RspGameInfo">
        select i.id,
               i.name,
               i.icon,
               i.maintain,
               i.recommend,
               i.large_icon,
               p.game_category,
               p.maintain platform_maintain,
               i.kind_id,
               i.platform_id
        from game_info i
                 left join game_platform p on p.id = i.platform_id
        where i.effect = 1
          and p.effect = 1
          and i.recommend = 1
        order by i.sort asc
    </select>

    <select id="selectRspListByPlatform" resultType="tv.game88.game.api.dto.RspGameInfo">
        select i.id,
               i.name,
               i.icon,
               i.maintain,
               i.recommend,
               i.large_icon,
               p.game_category,
               p.maintain platform_maintain,
               i.kind_id,
               i.platform_id
        from game_info i
                 left join game_platform p on p.id = i.platform_id
        where i.effect = 1
          and i.platform_id = #{platformId}
          and p.effect = 1
          and i.type_id = #{typeId}
        order by i.sort asc
    </select>

    <select id="findListByType" resultType="tv.game88.game.api.dto.RspGameInfo">
        select t3.id,
               t3.name,
               t3.icon,
               t3.maintain,
               t3.large_icon,
               t3.kind_id
        from
            (select t2.*
             from
                 (select distinct game_info_id
                  from game_type_with
                  where type_id = #{typeId}) t1 inner join
                 (select id, name, type_id, icon,kind_id, maintain, recommend, large_icon, sort
                  from game_info
                  where effect = 1) t2
                 on t1.game_info_id = t2.id) t3 order by t3.sort asc
    </select>
    <select id="findTypeList" resultType="tv.game88.game.api.dto.RspGameInfo">
        select id, name,icon ,platform_id as platformId,kind_id as kindId
        from game_info
        where effect = 1
    </select>
</mapper>