<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.game.api.mapper.MemberGameDataMapper">
    <resultMap type="tv.game88.game.api.entity.MemberGameData" id="MemberGameDataResult">
        <result property="id" column="id" />
        <result property="agent" column="agent" />
        <result property="account" column="account" />
        <result property="platformId" column="platform_id" />
        <result property="gameId" column="game_id" />
        <result property="kindId" column="kind_id" />
        <result property="serverId" column="server_id" />
        <result property="cellScore" column="cell_score" />
        <result property="allBet" column="all_bet" />
        <result property="profit" column="profit" />
        <result property="revenue" column="revenue" />
        <result property="status" column="status" />
        <result property="gameRound" column="game_round" />
        <result property="gameStartTime" column="game_start_time" />
        <result property="gameEndTime" column="game_end_time" />

        <result property="platformName" column="platform_name" />
        <result property="sonPlatformName" column="son_platform_name" />
    </resultMap>

    <sql id="selectMemberGameDataVo">
        select id,
               agent,
               account,
               platform_id,
               game_id,
               kind_id,
               server_id,
               cell_score,
               all_bet,
               profit,
               revenue,
               status,
               game_start_time,
               game_end_time
        from member_game_data
    </sql>

    <select id="selectMemberGameDataList" resultMap="MemberGameDataResult">
        SELECT m.agent,
               m.game_id,
               m.account,
               m.cell_score,
               m.all_bet,
               m.profit,
               m.kind_id,
               m.revenue,
               m.platform_id,
               m.game_start_time,
               m.game_end_time,
               m.game_round
        FROM member_game_data${tableLast} m
        <where>
            <include refid="whereSelect" />
        </where>
    </select>

    <sql id="whereSelect">
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                m.game_end_time <![CDATA[ >= ]]> #{startTime} and m.game_end_time <![CDATA[ <= ]]> #{endTime}
        </if>
        <if test="account != null and account != ''">
            and m.account = #{account}
        </if>
        <!--<if test="sonPlatformName != null and sonPlatformName != ''">
            and i.name = #{sonPlatformName}
        </if>-->
        <if test="agent != null and agent != ''">
            and m.agent = #{agent}
        </if>
        <if test="gameId != null and gameId != ''">
            and m.game_id = #{gameId}
        </if>
        <if test="platformId != null and platformId != ''">
            and m.platform_id = #{platformId}
        </if>
        <if test="platformIds != null and platformIds.size( ) != 0">
            and
            <if test="agents != null and agents.size( ) != 0">
                (
            </if>
            m.platform_id in
            <foreach item="pid" collection="platformIds" open="(" separator="," close=")">
                #{pid}
            </foreach>
        </if>
        <if test="agents != null and agents.size( ) != 0">
            <choose>
                <when test="platformIds != null and platformIds.size( ) != 0">
                    or
                </when>
                <otherwise>
                    and
                </otherwise>
            </choose>
            m.agent in
            <foreach item="ag" collection="agents" open="(" separator="," close=")">
                #{ag}
            </foreach>
            <if test="platformIds != null and platformIds.size( ) != 0">
                )
            </if>
        </if>
    </sql>

    <select id="findExist" resultType="java.lang.Integer">
        SELECT status
        FROM member_game_data${dbNodes}
        WHERE id = #{keyId}
    </select>

    <insert id="insertMemberGameData">
        insert ignore into member_game_data${dbNodes}
        (id,
         game_id,
         account,
         kind_id,
         cell_score,
         all_bet,
         profit,
         revenue,
         game_end_time,
         platform_id,
         agent,
         status,
         game_start_time,
         server_id)
        values (#{req.id},
                #{req.gameId},
                #{req.account},
                #{req.kindId},
                #{req.cellScore},
                #{req.allBet},
                #{req.profit},
                #{req.revenue},
                #{req.gameEndTime},
                #{req.platformId},
                #{req.agent},
                #{req.status},
                #{req.gameStartTime},
                #{req.serverId})
    </insert>

    <select id="findMemCleanPlatformLists" resultType="tv.game88.game.api.dto.RspCleanPlatform">
        select platform_id id, sum(ABS(profit)) codeAmount
        from member_game_data${dbNodes}
        where account = #{memberId}
          and status = 0
        GROUP BY platform_id
    </select>

    <update id="updateByBatchClean">
        UPDATE member_game_data${dbNodes}
        SET status =1
        where account = #{memberId}
          and status = 0
    </update>

    <select id="findByAccount" resultType="tv.game88.game.api.dto.RspGameData">
        select d.game_id, d.cell_score, d.profit, d.game_end_time create_time, d.all_bet, d.agent, d.platform_id
        from member_game_data${dbNodes} d
                 left join game_platform p on d.platform_id = p.id
        where d.game_end_time &gt;= #{beginTime}
          and d.game_end_time &lt;= #{endTime}
        <if test="memberId != null and memberId != ''">
            and d.account = #{memberId}
        </if>
        <if test="req != null and req.gameCategory != null">
            and p.game_category = #{req.gameCategory}
        </if>
        order by d.game_end_time desc
    </select>

    <select id="getCountMemberGameDataList" resultType="tv.game88.game.api.entity.MemberGameData">
        SELECT cast(SUM(cell_score) AS decimal(10, 2)) totalSuccessBet,
               cast(SUM(all_bet) AS decimal(10, 2))    totalBet,
               cast(SUM(profit) AS decimal(10, 2))     totalIncome
        FROM member_game_data${tableLast} m
        <where>
            <include refid="whereSelect">
            </include>
        </where>
    </select>

    <select id="findMemWashPlatformKindLists" resultMap="MemberGameDataResult">
        select platform_id, kind_id, sum(ABS(cell_score)) cell_score
        from member_game_data${dbNodes}
        where status = 0 and profit <![CDATA[ <> ]]> 0
          and account = #{memberId}
        GROUP BY platform_id, kind_id
    </select>
</mapper>