<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.game.api.mapper.MemberGameDataMapper">
    <resultMap type="tv.game88.game.api.entity.MemberGameData" id="MemberGameDataResult">
        <result property="id" column="id" />
        <result property="agent" column="agent" />
        <result property="account" column="account" />
        <result property="platformId" column="platform_id" />
        <result property="gameId" column="game_id" />
        <result property="kindId" column="kind_id" />
        <result property="serverId" column="server_id" />
        <result property="cellScore" column="cell_score" />
        <result property="allBet" column="all_bet" />
        <result property="profit" column="profit" />
        <result property="revenue" column="revenue" />
        <result property="platformType" column="platform_type" />
        <result property="status" column="status" />
        <result property="gameStartTime" column="game_start_time" />
        <result property="gameEndTime" column="game_end_time" />
    </resultMap>

    <sql id="selectMemberGameDataVo">
        select id,
               agent,
               account,
               platform_id,
               game_id,
               kind_id,
               server_id,
               cell_score,
               all_bet,
               profit,
               revenue,
               platform_type,
               status,
               game_start_time,
               game_end_time
        from member_game_data
    </sql>

    <select id="selectMemberGameDataList" parameterType="tv.game88.game.api.entity.MemberGameData"
            resultMap="MemberGameDataResult">
        <include refid="selectMemberGameDataVo" />
        <where>
            <if test="agent != null  and agent != ''">
                and agent = #{agent}
            </if>
            <if test="account != null  and account != ''">
                and account = #{account}
            </if>
            <if test="platformId != null">
                and platform_id = #{platformId}
            </if>
            <if test="gameId != null  and gameId != ''">
                and game_id = #{gameId}
            </if>
            <if test="kindId != null  and kindId != ''">
                and kind_id = #{kindId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="gameStartTime != null  and gameStartTime != ''">
                and game_start_time = #{gameStartTime}
            </if>
            <if test="gameEndTime != null  and gameEndTime != ''">
                and game_end_time = #{gameEndTime}
            </if>
        </where>
    </select>
</mapper>