<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.game.api.mapper.MemberGameMoneyMapper">
    <resultMap type="tv.game88.game.api.entity.MemberGameMoney" id="MemberGameMoneyResult">
        <result property="orderId" column="order_id" />
        <result property="memberId" column="member_id" />
        <result property="platformId" column="platform_id" />
        <result property="status" column="status" />
        <result property="money" column="money" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectMemberGameMoneyVo">
        select order_id,
               member_id,
               platform_id,
               status,
               money,
               create_time,
               update_time
        from member_game_money
    </sql>

    <select id="selectMemberGameMoneyList" parameterType="tv.game88.game.api.entity.MemberGameMoney" resultMap="MemberGameMoneyResult">
        <include refid="selectMemberGameMoneyVo" />
        <where>
            <if test="memberId != null  and memberId != ''">
                and member_id = #{memberId}
            </if>
            <if test="platformId != null">
                and platform_id = #{platformId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="params.beginTime != null">
                AND create_time <![CDATA[ >= ]]> STR_TO_DATE(#{params.beginTime}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="params.endTime != null">
                AND create_time <![CDATA[ <= ]]> STR_TO_DATE(#{params.endTime}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="orderId != null  and orderId != ''">
                and order_id = #{orderId}
            </if>
        </where>
    </select>

    <select id="selectMaxGameOrderCode" resultType="java.lang.String">
        select IFNULL(max(order_id), 0)
        from member_game_money
        where platform_id = #{platform_id}
    </select>
</mapper>