<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.platform.api.mapper.ConfigSmsFaillogMapper">
    <resultMap type="tv.game88.platform.api.entity.ConfigSmsFaillog" id="ConfigSmsFaillogResult">
            <result property="id" column="id"/>
            <result property="errorCode" column="error_code"/>
            <result property="errorMessage" column="error_message"/>
            <result property="phone" column="phone"/>
            <result property="smsName" column="sms_name"/>
            <result property="createTime" column="create_time"/>
            <result property="smsSubname" column="sms_subname"/>
    </resultMap>

    <sql id="selectConfigSmsVo">
        select id,error_code,error_message,phone,sms_name,create_time,sms_subname from config_sms_faillog
    </sql>
</mapper>
