<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.wallet.api.mapper.WalletMessageMapper">

    <resultMap type="tv.game88.wallet.api.entity.WalletMessage" id="WalletMessageResult">
        <result property="id" column="id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="receiverUserId" column="receiver_user_id" />
        <result property="isRead" column="is_read" />
        <result property="createTime" column="create_time" />
        <result property="createBy" column="create_by" />
        <result property="type" column="type" />
    </resultMap>

    <sql id="selectWalletMessageVo">
        select id,
               title,
               content,
               receiver_user_id,
               is_read,
               create_time,
               create_by,
               type
        from wallet_message
    </sql>

    <select id="selectWalletMessageList" parameterType="tv.game88.wallet.api.entity.WalletMessage"
            resultMap="WalletMessageResult">
        <include refid="selectWalletMessageVo" />
        <where>
            <if test="title != null  and title != ''">and title = #{title}</if>
            <if test="receiverUserId != null  and receiverUserId != ''">and receiver_user_id = #{receiverUserId}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="createBy != null  and createBy != ''">and create_by = #{createBy}</if>
            <if test="type != null  and type != ''">and type = #{type}</if>
        </where>
    </select>

</mapper>