<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.wallet.api.mapper.WalletRecordMapper">

    <resultMap id="WalletRecordResult" type="tv.game88.wallet.api.entity.WalletRecord">
            <id property="tradeId" column="trade_id" jdbcType="VARCHAR"/>
            <result property="merchantId" column="merchant_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="tradeType" column="trade_type" jdbcType="INTEGER"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="notifyUrl" column="notify_url" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="selectWalletRecordVo">
        select trade_id,
               merchant_id,
               user_id,
               trade_type,
               amount,
               order_id,
               notify_url,
               create_time,
               update_time
        from wallet_record
    </sql>
</mapper>
