<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.wallet.api.mapper.WalletUserPayMethodMapper">
    <resultMap id="WalletUserPayMethodResult" type="tv.game88.wallet.api.entity.WalletUserPayMethod">
        <id property="methodId" column="method_id" jdbcType="BIGINT" />
        <result property="methodType" column="method_type" />
        <result property="userId" column="user_id" jdbcType="VARCHAR" />
        <result property="realName" column="real_name" jdbcType="VARCHAR" />
        <result property="bankAccount" column="bank_account" jdbcType="VARCHAR" />
        <result property="bankId" column="bank_id" jdbcType="BIGINT" />
        <result property="payAddrProvince" column="pay_addr_province" jdbcType="VARCHAR" />
        <result property="payAddrCity" column="pay_addr_city" jdbcType="VARCHAR" />
        <result property="payPicAddr" column="pay_pic_addr" jdbcType="VARCHAR" />
        <result property="auditStatus" column="audit_status" jdbcType="TINYINT" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="selectWalletUserPayMethodVo">
        select method_id,
               method_type,
               user_id,
               real_name,
               bank_account,
               bank_id,
               pay_addr_province,
               pay_pic_addr,
               pay_addr_city,
               audit_status,
               create_time
        from wallet_user_pay_method
    </sql>
    <select id="selectWalletUserPayMethod" parameterType="tv.game88.wallet.api.entity.WalletUserPayMethod"
            resultMap="WalletUserPayMethodResult">
        <include refid="selectWalletUserPayMethodVo" />
        <where>
            <if test="methodId != null  and methodId != ''"> and method_id = #{methodId}</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="auditStatus != null"> and audit_status = #{auditStatus}</if>
        </where>
        order by create_time desc
    </select>
    <select id="selectMemberCard" resultType="tv.game88.wallet.api.entity.WalletUserPayMethod">
        <include refid="selectWalletUserPayMethodVo" />
        where user_id = #{userId}
    </select>
</mapper>
