<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.wallet.api.mapper.WalletUserMapper">

    <resultMap id="WalletUserResult" type="tv.game88.wallet.api.entity.WalletUser">
        <id property="id" column="id" jdbcType="VARCHAR" />
        <id property="platformId" column="platform_id" jdbcType="VARCHAR" />
        <result property="nickName" column="nick_name" jdbcType="VARCHAR" />
        <result property="headImg" column="head_img" jdbcType="VARCHAR" />
        <result property="password" column="password" jdbcType="VARCHAR" />
        <result property="secretKey" column="secret_key" jdbcType="VARCHAR" />
        <result property="phone" column="phone" jdbcType="VARCHAR" />
        <result property="amount" column="amount" jdbcType="BIGINT" />
        <result property="frozenAmount" column="frozen_amount" jdbcType="BIGINT" />
        <result property="fundPassword" column="fund_password" jdbcType="VARCHAR" />
        <result property="isVerified" column="is_verified" jdbcType="INTEGER" />
        <result property="verifiedTime" column="verified_time" jdbcType="TIMESTAMP" />
        <result property="realName" column="real_name" jdbcType="VARCHAR" />
        <result property="idNumber" column="id_number" jdbcType="VARCHAR" />
        <result property="idFrontPic" column="id_front_pic" jdbcType="VARCHAR" />
        <result property="idBackPic" column="id_back_pic" jdbcType="VARCHAR" />
        <result property="level" column="level" jdbcType="INTEGER" />
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP" />
        <result property="status" column="status" jdbcType="INTEGER" />
        <result property="loginIp" column="login_ip" jdbcType="VARCHAR" />
        <result property="deviceId" column="device_id" jdbcType="VARCHAR" />
        <result property="totalCharge" column="total_charge" jdbcType="BIGINT" />
        <result property="totalSale" column="total_sale" jdbcType="BIGINT" />
        <result property="totalBuy" column="total_buy" jdbcType="BIGINT" />
        <result property="sellingAmount" column="selling_amount" jdbcType="BIGINT" />
        <result property="tradingAmount" column="trading_amount" jdbcType="BIGINT" />
        <result property="buyOrderNum" column="buy_order_num" jdbcType="BIGINT" />
        <result property="sellOrderNum" column="sell_order_num" jdbcType="BIGINT" />
        <result property="phoneModel" column="phone_model" jdbcType="VARCHAR" />
        <result property="loginDevice" column="login_device" jdbcType="TINYINT" />
        <result property="loginTime" column="login_time" jdbcType="TIMESTAMP" />
        <result property="linkUrl" column="link_url" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="selectWalletUserVo">
        select id,
               platform_id,
               nick_name,
               head_img,
               password,
               secret_key,
               phone,
               amount,
               frozen_amount,
               fund_password,
               is_verified,
               verified_time,
               real_name,
               id_number,
               id_front_pic,
               id_back_pic,
               level,
               created_time,
               status,
               login_ip,
               device_id,
               total_charge,
               total_sale,
               total_buy,
               selling_amount,
               trading_amount,
               phone_model,
               login_device,
               login_time,
               link_url
        from wallet_user
    </sql>

    <select id="selectWalletUserList" parameterType="tv.game88.wallet.api.entity.WalletUser"
            resultMap="WalletUserResult">
        <include refid="selectWalletUserVo" />
        <where>
            <if test="phone != null  and phone != ''">and phone = #{phone}</if>
            <if test="nickName != null  and nickName != ''">and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="realName != null  and realName != ''">and real_name like concat('%', #{realName}, '%')</if>
            <if test="idNumber != null  and idNumber != ''">and id_number = #{idNumber}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="loginIp != null  and loginIp != ''">and login_ip = #{loginIp}</if>
            <if test="deviceId != null  and deviceId != ''">and device_id = #{deviceId}</if>
            <if test="loginDevice != null ">and login_device = #{loginDevice}</if>
            <if test="searchValues != null and searchValues.size() != 0">
                and (id in
                <foreach item="value" collection="searchValues" open="(" separator="," close=")">
                    #{value}
                </foreach>
                or phone in
                <foreach item="value" collection="searchValues" open="(" separator="," close=")">
                    #{value}
                </foreach>
                or
                platform_id in
                <foreach item="value" collection="searchValues" open="(" separator="," close=")">
                    #{value}
                </foreach>
                )
            </if>
        </where>
    </select>

    <select id="getUserMoney" resultType="Long">
        select amount
        from wallet_user
        where id = #{userId}
    </select>

    <select id="selectPlatformUserByUserId" resultType="tv.game88.wallet.api.vo.PlatformUser">
        select id, nick_name, status, password, is_verified, level
        from wallet_user
        where id = #{userId}
    </select>

    <update id="addMoney">
        update wallet_user
        set amount = amount + #{money}
        where id = #{userId}
    </update>

    <update id="reduceMoney">
        update wallet_user
        set amount = amount - #{money},
<!--  this is tmp list -->
            frozen_amount = frozen_amount - #{money}
        where id = #{userId}
          and amount - #{money} >= 0
    </update>

    <update id="addChargeMoney">
        update wallet_user
        set amount       = amount + #{money},
            total_charge = total_charge + #{money}
        where id = #{userId}
    </update>

    <update id="reduceSaleMoney">
        update wallet_user
        set amount     = amount - #{money},
            total_sale = total_sale + #{money}
        where id = #{userId}
          and amount - #{money} >= 0
    </update>

    <select id="findMemberHistoryByMobile" resultType="tv.game88.wallet.api.entity.WalletUser">
        select *
        from wallet_user_history
        where phone = #{mobile}
        limit 1
    </select>

    <delete id="deleteByHistoryKey">
        delete
        from wallet_user_history
        where id = #{userId}
    </delete>

    <select id="findMemberHistoryById" resultType="tv.game88.wallet.api.entity.WalletUser">
        select *
        from wallet_user_history
        where id = #{id}
    </select>
    <select id="getUserPasswd" resultType="java.lang.String">
        select password
        from wallet_user
        where id = #{userId}
    </select>

    <update id="addBuyerTransactionSuccess">
        update wallet_user
        set buy_order_num  = buy_order_num + 1,
            total_buy = total_buy + #{money}
        where id = #{id}
    </update>

    <update id="addSellerTransactionSuccess">
        update wallet_user
        set sell_order_num = sell_order_num + 1,
            total_sale     = total_sale + #{money},
            trading_amount = trading_amount - #{money}
        where id = #{id}
    </update>

    <update id="addSellerTotalSellingAmount">
        update wallet_user
        set selling_amount = selling_amount + #{money}
        where id = #{id}
    </update>

    <update id="addSellerOngoingSellingAmount">
        update wallet_user
        set selling_amount = selling_amount - #{money},
            trading_amount = trading_amount + #{money}
        where id = #{id}
    </update>

    <update id="addSellerInitCancelSell">
        update wallet_user
        set selling_amount = selling_amount - #{money}
        where id = #{id}
    </update>

    <update id="addSellerCancelSellingAmount">
        update wallet_user
        set selling_amount = selling_amount + #{money},
            trading_amount = trading_amount - #{money}
        where id = #{id}
    </update>

</mapper>
