<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.wallet.api.mapper.WalletUserFundLogMapper">

    <resultMap id="WalletUserFundLogResult" type="tv.game88.wallet.api.entity.WalletUserFundLog">
        <id property="id" column="id" jdbcType="VARCHAR" />
        <result property="userId" column="user_id" jdbcType="VARCHAR" />
        <result property="type" column="type" jdbcType="INTEGER" />
        <result property="des" column="des" jdbcType="VARCHAR" />
        <result property="income" column="income" jdbcType="BIGINT" />
        <result property="pay" column="pay" jdbcType="BIGINT" />
        <result property="totalBefore" column="total_before" jdbcType="BIGINT" />
        <result property="total" column="total" jdbcType="BIGINT" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
        <result property="mark" column="mark" jdbcType="VARCHAR" />
        <result property="markorder" column="markorder" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="selectWalletUserFundLogVo">
        select id,
               user_id,
               type,
               des,
               income,
               pay,
               total_before,
               total,
               create_time,
               mark,
               markorder
        from wallet_user_fund_log
    </sql>

    <select id="findLogFundList" resultType="tv.game88.wallet.api.dto.RspLogFund">
        select
        type,
        income,
        pay,
        create_time
        from wallet_user_fund_log
        where user_id = #{userId}
        <if test="req.enumFund != null">
            and type = #{req.enumFund.type}
        </if>
        <if test="req.enumReqTime != null">
            and create_time &gt;= #{beginDay}
            and create_time &lt;= #{endDay}
        </if>
        order by create_time desc
    </select>
    <select id="selectWalletUserFundLog" resultType="tv.game88.wallet.api.entity.WalletUserFundLog">
        <include refid="selectWalletUserFundLogVo"/>
        <where>
            <if test="id != null  and id != ''">
                and id = #{id}
            </if>
            <if test="type != null  and type != ''">
                and type = #{type}
            </if>
        </where>
    </select>
</mapper>
