<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.wallet.api.mapper.WalletRecordMapper">

    <resultMap id="WalletRecordResult" type="tv.game88.wallet.api.entity.WalletRecord">
        <id property="tradeNo" column="trade_no" jdbcType="VARCHAR" />
        <result property="merchantId" column="merchant_id" jdbcType="BIGINT" />
        <result property="userId" column="user_id" jdbcType="VARCHAR" />
        <result property="tradeType" column="trade_type" jdbcType="INTEGER" />
        <result property="amount" column="amount" jdbcType="BIGINT" />
        <result property="orderNo" column="order_no" jdbcType="VARCHAR" />
        <result property="status" column="status" jdbcType="TINYINT" />
        <result property="notifyStatus" column="notify_status" jdbcType="TINYINT" />
        <result property="notifyUrl" column="notify_url" jdbcType="VARCHAR" />
        <result property="notifyResult" column="notify_result" jdbcType="VARCHAR" />
        <result property="remark" column="remark" jdbcType="VARCHAR" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="selectWalletRecordVo">
        select trade_no,
               merchant_id,
               user_id,
               trade_type,
               amount,
               order_no,
               status,
               notify_status,
               notify_url,
               notify_result,
               remark,
               create_time,
               update_time
        from wallet_record
    </sql>
    <select id="selectWalletRecord" resultType="tv.game88.wallet.api.entity.WalletRecord">
        <include refid="selectWalletRecordVo"/>
        <where>
            <if test="tradeNo != null and tradeNo != ''">and trade_no = #{tradeNo}</if>
            <if test="merchantId != null and merchantId != ''">and merchant_id = #{merchantId}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="beginTime != null and beginTime != ''">
                AND create_time <![CDATA[ >= ]]> STR_TO_DATE(#{beginTime}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="endTime != null and endTime != ''">
                AND create_time <![CDATA[ <= ]]> STR_TO_DATE(#{endTime}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="minAmount != null and maxAmount != null and minAmount != '' and maxAmount != ''">
                and amount <![CDATA[ >= ]]> #{minAmount}
                and amount <![CDATA[ <= ]]> #{maxAmount}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="notifyStatus != null and notifyStatus != ''">
                AND notify_status = #{notifyStatus}
            </if>
            <if test="orderNo != null and orderNo != ''">
                AND order_no = #{orderNo}
            </if>
        </where>
    </select>
</mapper>
