<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tv.game88.wallet.api.mapper.WalletTransactionDetailMapper">

    <resultMap id="WalletTransactionDetailResult" type="tv.game88.wallet.api.entity.WalletTransactionDetail">
        <id property="transDetailId" column="trans_detail_id" jdbcType="VARCHAR" />
        <result property="transactionId" column="transaction_id" jdbcType="VARCHAR" />
        <result property="sellerId" column="seller_id" jdbcType="VARCHAR" />
        <result property="buyerId" column="buyer_id" jdbcType="VARCHAR" />
        <result property="buyerPayMethodId" column="buyer_pay_method_id" jdbcType="BIGINT" />
        <result property="sellerPayMethodId" column="seller_pay_method_id" jdbcType="BIGINT" />
        <result property="amount" column="amount" jdbcType="BIGINT" />
        <result property="transCertPic" column="trans_cert_pic" jdbcType="VARCHAR" />
        <result property="status" column="status" />
        <result property="time" column="time" jdbcType="TIMESTAMP" />
        <result property="buyerConfirmBuyTime" column="buyer_confirm_buy_time" jdbcType="TIMESTAMP" />
        <result property="sellerConfirmTransTime" column="seller_confirm_trans_time" jdbcType="TIMESTAMP" />
        <result property="buyerConfirmTransferTime" column="buyer_confirm_transfer_time" jdbcType="TIMESTAMP" />
        <result property="sellerNotReceivedTime" column="seller_not_received_time" jdbcType="TIMESTAMP" />
        <result property="cancelTime" column="cancel_time" jdbcType="TIMESTAMP" />
        <result property="successTransTime" column="success_trans_time" jdbcType="TIMESTAMP" />
        <result property="transferTimeSec" column="transfer_time_sec" jdbcType="INTEGER" />
        <result property="receivedTimeSec" column="received_time_sec" jdbcType="INTEGER" />
        <result property="remark" column="remark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="selectWalletTransactionDetailVo">
        select wtd.trans_detail_id,
               wtd.transaction_id,
               wtd.seller_id,
               wtd.buyer_id,
               wtd.buyer_pay_method_id,
               (select method_type from wallet_user_pay_method wupm  where wtd.buyer_pay_method_id = wupm.method_id) as buyer_pay_method_name,
               wtd.seller_pay_method_id,
               (select method_type from wallet_user_pay_method wupm  where wtd.seller_pay_method_id = wupm.method_id) as seller_pay_method_name,
               wtd.amount,
               wtd.trans_cert_pic,
               wtd.status,
               wtd.`time`,
               wtd.buyer_confirm_buy_time,
               wtd.seller_confirm_trans_time,
               wtd.buyer_confirm_transfer_time,
               wtd.seller_not_received_time,
               wtd.cancel_time,
               wtd.success_trans_time,
               wtd.transfer_time_sec,
               wtd.received_time_sec,
               wtd.remark
        from    wallet_transaction_detail wtd
    </sql>

    <select id="selectWalletTransactionDetailList" parameterType="tv.game88.wallet.api.entity.WalletTransactionDetail"
            resultMap="WalletTransactionDetailResult">
        <include refid="selectWalletTransactionDetailVo" />
        <where>
            <if test="transactionId != null  and transactionId != ''">and transaction_id = #{transactionId}</if>
            <if test="sellerId != null  and sellerId != ''">and seller_id = #{sellerId}</if>
            <if test="buyerId != null  and buyerId != ''">and buyer_id = #{buyerId}</if>
            <if test="amount != null ">and amount = #{amount}</if>
            <if test="status != null  and status.toString() != ''">and status = #{status}</if>

            <if test="buySellId != null and buySellId != ''">
                and (buyer_id = #{buySellId} or seller_id = #{buySellId})
            </if>
            <if test="statusList != null">
                and `status` in
                <foreach item="status" collection="statusList" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
        </where>
        order by `time` desc
    </select>
</mapper>
